
html {
    box-sizing: border-box;
}
body {
    width: 1600px;
}

*,
::before,
::after {
  box-sizing: inherit;
}

a {
    text-decoration: none;  /*Убирает подчеткивание в ссылок*/
}

.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;    
    margin-left: auto;
    margin-right: auto;
}


:root {
    --main-1-color: black;
    --main-2-color: #2196F3;
    --main-3-color: #FFFFFF;
    --main-4-color: #757575;
    --main-5-color: #2F303A;
}

.link {
    color: var(--main-1-color);
}
  
.link:hover {
    color: var(--main-2-color);
}

.link:focus{
    color: var(--main-2-color);
}

.web{
    color: var(--main-2-color);
}

.button {
    display: inline-block;
    padding: 10px 32px;
    margin-left: 700px;
      
    border-radius: 4px;
    background-color: var(--main-2-color);
    color: white;
    border: 0px;  
}
.button:hover,
.button:focus {
    background-color: blue;
}


.features .title {
    display: none;
}



.footer {
    background-color: var(--main-5-color);
}

.social-icon {
    display: inline-block;
    padding: 12px;    
    background-color: var(--main-2-color);
    color: var(--main-3-color);
    font-weight: bold;
    border-radius: 50%;
}




/* 
background: #fff; Цвет фона
padding: 10px; Поля вокруг
display: block; Блочный элемент
width: 270px; Ширина
height: 251px; Высота
float: left; Блоки выстраиваются по горизонтали
margin: 0 10px 10px 0; Отступы
text-align: center; Выравнивание по центру */